---
layout:    about
permalink: "/cv"
author:    Chang
weight:    1
menutitle: CV
cover:     /assets/page/cover.jpg
title:     Curriculum Vitae
---
{% assign cv = site.data.cv[page.author] %}

<div class="md-card shadow education">
    <div class="title icon-library">
        <h2>Education</h2>
    </div>
    {% for entry in cv.education %}   
    <dl>
        <dt class="time">{{entry.time}}</dt>
        <dd>
            <h3>{{entry.location}}</h3>
            <p>{{entry.description}}</p>
        </dd>
    </dl>
    {% endfor %}
</div>

</br>
<h2 class="employment-heading">Research Experience</h2>

<div class="timeline-container">
    {% for employment in cv.employment %}
    <div class="timeline-block">
        <div class="marker"></div>
        <div class="time">{{employment.time}}</div>
        <div class="timeline-content">
            <div class="time">{{employment.time}}</div>
            <h3>{{employment.position}}</h3>
            <span>{{employment.company}}</span>
            <!--<span><i>{{employment.location}}</i></span>-->
            <ul>
                {% for responsibility in employment.responsibilities %}
                <li>{{responsibility}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
</div>

<!--<div class="md-card shadow">
    <div class="title icon-stats-bars">
        <h2>Skills</h2>
    </div>
    <div class="content">
        <ul>
            {% for skill in cv.skills %}
            <li>{{ skill }}</li>
            {% endfor %}
        </ul>
    </div>
</div>-->

<!--<h2 class="project-heading">Project Highlights</h2>

{% for project in cv.projects %}
<div class="md-card shadow project">
    <div class="meta">
        <div class="team">{{project.team}}</div>
        <div class="time">{{project.time}}</div>
    </div>
    <div class="content">
        <h2>{{project.title}}</h2>
        <ul>
            {% for responsibility in project.responsibilities %}
            <li>{{responsibility}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="footer">
        <ul>
            {% assign technologies = project.technologies | split: ',' %}
            {% for technology in technologies %}
            <li> {{ technology }}</li>
            {% endfor %}
        </ul>
        <span class="icon-briefcase"></span>
    </div>
</div>
{% endfor %}-->

<h2 class="project-heading"></br>PDF Version</h2>
<div class="md-card no-border">
    <p>{{cv.profile}}</p>
</div>

<iframe src="//docs.google.com/viewer?url=https://slowdiveptg.github.io/cv/resume_cv.pdf?dl=0&amp;hl=en_US&amp;embedded=true" class="gde-frame" style="width:100%; height:800px; border: none;" scrolling="no"></iframe>
