---
layout: compress
---
<!DOCTYPE html>
<html lang="{% if page.language %}{{ page.language | downcase }}{% else %}{{ site.language | downcase }}{% endif %}">
{% include head.html %}

<body class="home-template">
    <div class="site-wrapper">
        {% if page.layout == 'default' and page.cover %}
            {% include header-home.html %}
        {% else %}
            {% include header.html %}
        {% endif %}
        {{ content }}
        {% if page.url != "/" %}
        <footer class="post-footer">
            {% include authorinfo.html param=page.author %}
        </footer>
        {% include footer.html %}
        {% endif %}
    </div>
</body>

{% include photoswipe.html %}
{% include post_scripts.html %}
<script type="text/javascript" src="{{ "/js/global.js" | absolute_url }}"></script>
</html>
